* {
    color: #653A00;
    font-family: Quicksand;
    text-decoration: none;
}

.grade-blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-sizing: content-box;
    margin: 1rem 0 2rem 0;
}

.grade-blog-item {
    width: 390px;
    height: 300px;
    background: #F8F7F7;
    border-radius: 35px;
    margin-bottom: 1rem;
}

.primeiro-container {
    width: 50%;
    font-size: 24px;
    margin: 10% 0 1% 5%;
}

.primeiro-container>h1 {
    font-weight: bold;
    font-size: 36px;
    margin: .5rem 0;
}

.saibamais-retangulo {
    position: absolute;
    width: 200.27px;
    height: 70.09px;
    left: calc(50% - 200.27px/2 - 462.87px);
    top: 918px;
    background: #FFFFFF;
    border: 1.00133px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10.0133px;
}

.text-retangulo {
    width: 124.17px;
    height: 29.04px;
    left: 195.75px;
    top: 937.72px;
    font-style: normal;
    font-weight: bold;
    font-size: 24.032px;
    line-height: 30px;
    text-align: center;
    color: #8B5000;
}

.ap-segunda {
    background-size: cover;
    display: table;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.ap-conteudo-bloco-primeira {
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 35.05px;
    box-sizing: border-box;
}

.ap-conteudo-bloco-segunda {
    grid-column-start: 1;
    grid-column-end: 3;
}

.ap-conteudo-bloco-segunda>button {
    border: 2px solid #a07438;
    border-radius: 20px;
    color: #8b5000;
    margin-top: 4rem;
    height: 70px;
    width: 200px;
}

.ap-txt-h1,
.ap-txt-p {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    margin-top: 10px;
}

.ap-txt-h1 {
    font-size: 36px;
    line-height: 45px;
}

.ap-txt-p,
.ap-conteudo-bloco-segunda>button {
    font-size: 24px;
    line-height: 30px;
}

.main-segunda {
    background-image: url(../img/medica.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 45%;
    border-radius: 35px;
}

.principais-temas {
    width: 692.92px;
    height: 24.03px;
    left: 124.21px;
    top: 1087px;
    font-style: normal;
    font-weight: bold;
    font-size: 16.0213px;
    line-height: 20px;
    color: #653A00;
}

.text-dentro-imagem {
    position: absolute;
    width: 690px;
    height: 48px;
    left: 158px;
    top: 723px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #653A00;
}

.conteudo-dentro-imagem {
    position: absolute;
    width: 689.92px;
    height: 174.23px;
    left: 158px;
    top: 775px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #653A00;
}

.principais-temas-baixo {
    width: 997.33px;
    height: 55.07px;
    left: 124.21px;
    top: 1113.03px;
    font-style: normal;
    font-weight: bold;
    font-size: 36.048px;
    line-height: 45px;
    color: #653A00;
}

.afro-conectar {
    width: 692.92px;
    height: 24.03px;
    left: 122px;
    top: 1849px;
    font-style: normal;
    font-weight: bold;
    font-size: 16.0213px;
    line-height: 20px;
    color: #653A00;
}

.afro-assine {
    width: 997.33px;
    height: 55.07px;
    left: 122px;
    top: 1875.03px;
    font-style: normal;
    font-weight: bold;
    font-size: 36.048px;
    line-height: 45px;
    color: #653A00;
}

#pt-baixo-terceira {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.trn-bloco-conteudo {
    border-radius: 35px;
    border-top: 68px solid;
    display: inline-block;
    height: 625px;
    position: relative;
    width: 390px;
    text-decoration: none;
}

.plano-bloco-titulo p {
    color: white;
    font-size: 24px;
    left: 29%;
    position: absolute;
    top: -8%;
}

.plano-bloco-informativo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
}

.trn-pt-basico {
    border-color: #fdb048;
    margin-bottom: 30px;
}

.trn-pt-premium {
    border-color: #e88b00;
}

.trn-pt-premium-anual {
    border-color: #e88b00;
}

.semestral-basico {
    margin-top: 20px;
    text-align: center;
    color: #653A00;
}

.basico-preco {
    margin-top: 18px;
    text-align: center;
    color: #653A00;
}

.membro-botao {
    grid-column: 2/2;
    text-decoration: none;
    color: #F4AA28;
    background-color: #653A00;
    text-align: center;
    border-radius: 15px;
    transition: .5s;
}

.membro-botao:hover {
    box-shadow: 0 5px 2px rgb(80, 83, 85, 0.6);
    color: #F4AA28;
    text-decoration: none;
    transition: 1s;
}

.plano-bloco-rodape {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.plano-bloco-rodape span {
    grid-column: 1/5;
    font-style: normal;
    font-size: .8rem;
    text-align: center;
    color: #653A00;
}

.semestral-semestre {
    margin-top: 20px;
    text-align: center;
    color: #653A00;
}

.semestral-preco {
    margin-top: 20px;
    text-align: center;
    color: #653A00;
}

.membro-semestre {
    margin-top: 30px;
    margin-left: 20%;
    width: 236px;
    height: 30px;
    background: #F4AA28;
    border-radius: 15px;
}

.texto-semestre {
    position: absolute;
    width: 230px;
    height: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-left: 27.60%;
    margin-top: 35px;
    color: #653A00;
}

.cancelar-semestre {
    width: 140px;
    height: 21px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    margin-left: 33%;
    margin-top: 5px;
    text-align: center;
    color: #653A00;
}

.anual-premium {
    margin-top: 20px;
    text-align: center;
    color: #653A00;
}

.anual-preco {
    margin-top: 20px;
    text-align: center;
    color: #653A00;
}

.item-plano {
    text-align: left;
    color: #653A00;
    padding: 7px 5px;
    list-style: square inside;
    transition: .4s;
}

.item-plano:hover {
    text-shadow: 1px 1px 1px rgb(41, 41, 9);
    transition: 1s;
}

.item-plano:hover {
    border-bottom: black;
}

.membro-anual {
    margin-top: 30px;
    margin-left: 20%;
    width: 236px;
    height: 30px;
    background: #F4AA28;
    border-radius: 15px;
}

.texto-anual {
    position: absolute;
    width: 230px;
    height: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-left: 27.60%;
    margin-top: 35px;
    color: #653A00;
}

.cancelar-anual {
    width: 140px;
    height: 21px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    margin-left: 33%;
    margin-top: 5px;
    text-align: center;
    color: #653A00;
}


/* Cabeçalho Responsivo */

.bs-example {
    width: 100vw;
}

.navbar-expand-md {
    padding: 2vw 7vw;
}

.navbar-collapse {
    position: relative;
}

.navbar-nav {
    position: relative;
    left: 25%;
}

.nav-link {
    font-size: 20px;
    margin: 0 1rem;
}

.navbar-item .active {
    border: 3px solid tomato;
}

.navbar-brand img {
    margin-left: 10rem;
    width: calc(390px - 10rem);
    height: 101px;
}

.nav-item-opcao {
    color: #653A00;
    font-size: 20px;
    margin: 1rem;
}

.nav-item-opcao:hover {
    color: black;
}

.nav-item-botao {
    border: 3px solid #653A00;
    border-radius: 15px;
    padding: 0.5rem;
}

@media screen and (max-width: 1200px) {
    .nav-item-botao {
        border: none;
        padding: 0;
    }
    .navbar-brand img {
        margin-left: 0;
        width: 250px;
        height: 101px;
    }
}


/* Fim do Cabeçalho Responsivo*/

@media screen and (max-width: 1200px) {
    .grade-blog {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 2rem;
    }
}

@media screen and (max-width: 850px) {
    .grade-blog-item {
        background-color: #653A00;
        width: 340px;
        height: 250px;
        border-radius: 35px;
        margin: 1rem auto;
    }
}

@media screen and (max-width: 770px) {
    .grade-blog-item:nth-child(n+4) {
        display: none;
    }
    .grade-blog {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 2rem;
    }
    .grade-blog-item {
        background-color: #653A00;
        margin: 1rem auto;
        width: calc(290px -2rem);
        height: 200px;
    }
}