.main-container {
    background-color: #ffffff;
    width: 100%;
}

.divisao-principal {
    margin: 45px 0;
    width: 100%;
}

.mn-primeira {
    background-color: #FFb24a;
    height: 400.53px;
    border-radius: 35.05px;
}

.mn-segunda,
.mn-quarta {
    background-position: 30% 49%;
    background-size: cover;
    border-radius: 35px;
    display: table;
    height: 440px;
    padding: auto;
}

.mn-segunda {
    background-image: url(../img/medico.png);
}

#pt-cima-terceira,
#pt-central-terceira,
#pt-cima-quinta,
#pt-central-quinta,
#pt-cima-sexta,
#pt-central-sexta,
#pt-cima-setima,
#pt-central-setima {
    color: #653a00;
}

#pt-cima-terceira p,
#pt-cima-quinta p,
#pt-cima-sexta p,
#pt-cima-setima p {
    font-size: 16px;
}

#pt-central-terceira h2,
#pt-central-quinta h2,
#pt-central-sexta h2,
#pt-central-setima h2 {
    font-size: 35px;
}

#pt-baixo-terceira,
#pt-baixo-quinta {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.trn-bloco-conteudo {
    background-color: #f8f7f7;
    border-radius: 35px;
    border-top: 68px solid;
    display: inline-block;
    height: 390px;
    position: relative;
    width: 420px;
}

.mn-quarta {
    background-image: url(../img/medica.png);
}

.qnt-bloco-conteudo {
    background-color: #f8f7f7;
    border-radius: 35px;
    display: inline-block;
    height: 390px;
    position: relative;
    width: 300px;
}

.qnt-pt-imagem {
    background-image: url(../img/familia.png);
    background-position: 45% 49%;
    background-size: cover;
    height: 458px;
    width: 300px;
}

.qnt-pt-comunidade,
.qnt-pt-vantagem,
.qnt-pt-facilidade {
    border-top: 68px solid;
    background-color: #f8f7f7;
}

.trn-bloco-conteudo p,
.qnt-bloco-conteudo p {
    color: white;
    font-size: 24px;
    left: 10%;
    position: absolute;
    top: -12%;
}

.trn-pt-paciente,
.qnt-pt-comunidade {
    border-color: #fdb048;
}

.trn-pt-profissional,
.qnt-pt-vantagem {
    border-color: #e88b00;
}

.trn-pt-vantagem,
.qnt-pt-facilidade {
    border-color: #653a00;
}

#pt-baixo-sexta {
    background-color: #f8f7f7;
    border-radius: 35px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sxt-primeiro-bloco {
    display: flex;
    align-items: center;
}

.sxt-primeiro-bloco h3 {
    color: #323131;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
}

.sxt-segundo-bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.sxt-segundo-bloco img {
    width: 5rem;
    height: 6rem;
}

.sxt-segundo-bloco p {
    color: #323131;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 25px;
}

#pt-baixo-setima {
    display: flex;
    justify-content: space-between;
    align-self: center;
    position: relative;
}

.stm-bloco-blog {
    border-radius: 35px;
    background-color: #f8f7f7;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 390px;
    width: 390px;
}

.stm-blog-img img {
    border-radius: 35px;
    max-height: 50%;
    max-width: 100%;
    position: absolute;
}

.stm-blog-txt {
    padding-top: 20px;
    position: relative;
}

.stm-blog-txt h4 {
    font-size: 18px;
    font-weight: bolder;
    margin: 15px;
}

.stm-blog-txt p {
    font-size: 14px;
    font-weight: lighter;
    margin: 0 15px;
}

.stm-blog-txt a {
    color: black;
    position: absolute;
    right: 10%;
    bottom: 3%;
    text-decoration: none;
}