.main-container {
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 200px;
}

.divisao-principal {
    margin: 45px 0;
    width: 100%;
}

.mn-primeira {
    border-radius: 35.05px;
    display: grid;
    grid-template-columns: .5fr .75fr .75fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #FFb24a;
    height: 400.53px;
    padding: 10px 5px;
}

.ap-segunda {
    position: relative;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    max-height: 370px;
}

.ap-segunda-2 {
    position: relative;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    max-height: 530px;
}

.ap-conteudo-bloco-primeira {
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 35.05px;
    box-sizing: border-box;
}

.ap-conteudo-bloco-primeira-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 35.05px;
    box-sizing: border-box;
}

.ap-conteudo-bloco-segunda {
    grid-column-start: 1;
    grid-column-end: 3;
}

.ap-conteudo-bloco-segunda>button {
    border: 2px solid #a07438;
    border-radius: 20px;
    color: #8b5000;
    height: 70px;
    width: 200px;
    margin-top: 30px;
}

.ap-txt-h1,
.ap-txt-p {
    color: #8b5000;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    margin-top: 20px;
}

.ap-txt-h1-2,
.ap-txt-p-2 {
    color: #ffffff;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    margin-top: 20px;
}

.ap-txt-h1,
.ap-txt-h1-2 {
    font-size: 36px;
    line-height: 45px;
}

.ap-txt-p,
.ap-txt-p-2,
.ap-conteudo-bloco-segunda>button {
    font-size: 24px;
    line-height: 30px;
}

.mn-segunda {
    border-radius: 35px;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
}

.mn-segunda img {
    height: 420px;
    width: 100%;
    border-radius: 35px;
    max-width: 1270px;
}

.mn-quarta {
    border-radius: 35px;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
}

.mn-quarta img {
    height: 550px;
    width: 100%;
    border-radius: 35px;
    max-width: 1270px;
}

#pt-cima-terceira,
#pt-central-terceira,
#pt-cima-quinta,
#pt-central-quinta,
#pt-cima-sexta,
#pt-central-sexta,
#pt-cima-setima,
#pt-central-setima {
    color: #653a00;
}

#pt-cima-terceira p,
#pt-cima-quinta p,
#pt-cima-sexta p,
#pt-cima-setima p {
    font-size: 16px;
}

#pt-cima-terceira p {
    margin-top: 60px;
    font-size: 16px;
}

#pt-central-terceira h2,
#pt-central-quinta h2,
#pt-central-sexta h2,
#pt-central-setima h2 {
    font-size: 35px;
}

#pt-baixo-terceira,
#pt-baixo-quinta {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.trn-bloco-conteudo {
    background-color: #f8f7f7;
    border-radius: 35px;
    border-top: 68px solid;
    display: inline-block;
    height: 390px;
    position: relative;
    width: 33%;
}

.qnt-bloco-conteudo {
    background-color: #f8f7f7;
    border-radius: 35px;
    display: flex;
    height: 370px;
    position: relative;
    width: 24%;
}

.qnt-pt-imagem {
    background-image: url(../img/familia.png);
    background-position: 45% 49%;
    background-size: cover;
    width: 300px;
}

.qnt-pt-comunidade,
.qnt-pt-vantagem,
.qnt-pt-facilidade {
    border-top: 68px solid;
    background-color: #f8f7f7;
}

.trn-bloco-conteudo p,
.qnt-bloco-conteudo p {
    color: white;
    font-size: 24px;
    font-weight: 500;
    left: 10%;
    position: absolute;
    top: -12%;
}

.trn-pt-paciente,
.qnt-pt-comunidade {
    border-color: #fdb048;
}

.trn-pt-profissional,
.qnt-pt-vantagem {
    border-color: #e88b00;
}

.trn-pt-vantagem,
.qnt-pt-facilidade {
    border-color: #653a00;
}

.conteudo-lista-paciente,
.conteudo-lista-profissionais,
.conteudo-lista-vantagem,
.conteudo-lista-comunidade,
.conteudo-lista-vantagens,
.conteudo-lista-facilidade {
    color: #653a00;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
    padding-top: 30px;
}

.conteudo-lista-comunidade,
.conteudo-lista-vantagens,
.conteudo-lista-facilidade {
    margin-top: 40px;
}

li {
    color: #653a00;
    margin-left: 50px;
    margin-right: 10px;
}

#pt-baixo-sexta {
    background-color: #f8f7f7;
    border-radius: 35px;
    display: flex;
}

.carousel-inner {
    height: 250px
}

.sxt-segundo-bloco {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sxt-primeiro-bloco>h3 {
    color: #653a00;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
}

.sxt-segundo-bloco>p {
    color: #653a00;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 25px;
}

#pt-baixo-setima {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.stm-bloco-blog {
    border-radius: 35px;
    background-color: #f8f7f7;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 390px;
    width: 390px;
}

.stm-blog-img img {
    border-radius: 35px;
    max-height: 195px;
    max-width: 390px;
    position: absolute;
}

.stm-blog-txt {
    padding-top: 20px;
    position: relative;
}

.stm-blog-txt h4 {
    font-size: 18px;
    font-weight: bolder;
    margin: 15px;
}

.stm-blog-txt p {
    font-size: 14px;
    font-weight: lighter;
    margin: 0 15px;
}

.stm-blog-txt a {
    color: black;
    position: absolute;
    right: 10%;
    bottom: 3%;
    text-decoration: none;
}


/* ipad */

@media (min-width: 668px) and (max-width: 1024px) {}


/* celular */

@media (max-width: 668px) {
    main {
        margin: 0px auto;
    }
    .divisao-principal {
        margin: 10px 0px;
        width: auto;
        padding: 0px;
        height: 100%;
    }
    .mn-primeira {
        height: 200px;
    }
    .mn-segunda,
    .mn-quarta {
        height: 100%;
        width: 100%;
    }
    .mn-segunda img {
        height: 100%;
        width: 100%;
        border-radius: 35px;
        max-height: 280px;
        padding: 20px;
    }
    .mn-quarta img {
        margin-top: 70px;
        height: 100%;
        width: 100%;
        border-radius: 35px;
        max-height: 280px;
        padding: 20px;
    }
    .ap-segunda {
        height: 100%;
        width: 100%;
        margin: 0px;
        background-size: top;
        display: list-item;
        padding: 10px;
        max-height: 600px;
    }
    .ap-segunda-2 {
        width: 100%;
        margin: 0px;
        background-size: top;
        display: list-item;
        padding: 10px;
        max-height: 1000px;
    }
    .ap-conteudo-bloco-primeira h1 {
        width: 100%;
        font-size: 25px;
        padding: 10px;
        margin-top: 250px;
    }
    .ap-conteudo-bloco-primeira-2 h1 {
        width: 100%;
        font-size: 25px;
        padding: 10px;
        margin-top: 320px;
    }
    .ap-conteudo-bloco-primeira p {
        width: 100%;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        padding: 10px;
        margin: 0;
    }
    .ap-conteudo-bloco-primeira-2 p {
        width: 100%;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        padding: 10px;
        margin: 0;
    }
    .ap-txt-h1-2,
    .ap-txt-p-2 {
        color: #8b5000;
    }
    .ap-txt-p,
    .ap-txt-p-2 {
        font-size: 18px;
        line-height: 45px;
    }
    .ap-conteudo-bloco-segunda {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .ap-conteudo-bloco-segunda>button {
        border: 2px solid #a07438;
        border-radius: 17px;
        color: #8b5000;
        height: 50px;
        width: 120px;
        font-size: 18px;
    }
    .ap-txt-h1,
    .ap-txt-h1-2,
    #pt-central-terceira h2,
    #pt-central-quinta h2,
    #pt-central-sexta h2,
    #pt-central-setima h2 {
        font-size: 25px;
        text-align: center;
    }
    #pt-baixo-terceira {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        width: 100%;
        height: 1000px;
        grid-gap: 20px 20px;
        padding: 20px;
    }
    .trn-pt-paciente,
    .trn-pt-profissional,
    .trn-pt-vantagem {
        font-size: 10px;
        width: 100%;
    }
    #pt-baixo-quinta {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        width: 100%;
        grid-gap: 20px 20px;
        padding: 20px;
    }
    .qnt-pt-imagem {
        width: 100%;
        height: 300px;
    }
    .qnt-pt-comunidade,
    .qnt-pt-vantagem,
    .qnt-pt-facilidade {
        font-size: 10px;
        width: 100%;
        height: 300px;
    }
    .stm-blog-txt,
    #pt-cima-terceira,
    #pt-cima-quinta,
    #pt-cima-sexta,
    #pt-cima-setima p {
        text-align: center;
    }
    .trn-bloco-conteudo p,
    .qnt-bloco-conteudo p {
        color: white;
        font-size: 23px;
        left: 10%;
        position: absolute;
        top: -17%;
    }
    .sxt-segundo-bloco p {
        font-size: 18px;
    }
    .sxt-primeiro-bloco h3 {
        font-size: 18px;
    }
    #pt-baixo-setima {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        width: 100%;
        grid-gap: 20px 20px;
        padding: 20px;
    }
    .stm-bloco-blog {
        font-size: 23px;
        width: 100%;
        height: 500px;
    }
    .stm-blog-img img {
        height: 100%;
        width: 100%;
        position: relative;
        max-width: 100%;
        max-height: 100%;
    }
    .stm-blog-img {
        height: 100%;
        width: 100%;
    }
    .stm-blog-txt h4 {
        font-size: 23px;
        width: 100%;
    }
    .stm-blog-txt p {
        font-size: 18px;
        width: 100%;
        padding-right: 30px;
    }
    .conteudo-lista-comunidade,
    .conteudo-lista-vantagens,
    .conteudo-lista-facilidade {
        margin-top: 0px;
    }
}