.main-container {
    background-color: #ffffff;
}

.divisao-principal {
    margin: 20px 0;
    width: 100%;
}

.mn-primeira {
    background-color: #FF9300;
    height: 400.53px;
    border-radius: 35.05px;
}

.mn-segunda {
    background-image: url(../img/medico.png);
    background-position: 30% 45%;
    background-size: cover;
    border-radius: 35px;
    display: table;
    height: 400px;
    width: 100%;
    padding: auto;
}