.div-principal {
    margin: 45px 0;
    width: 100%;
}

.div-cabecalho {
    display: grid;
    align-items: center;
}

.img-topo,
.text-titulo {
    background-position: 30% 49%;
    background-size: cover;
    border-radius: 35px;
    display: table;
    height: 440px;
    padding: auto;
}

.img-topo {
    background-image: url(../img/medico.png);
}

#texto-sobre h2 {
    margin: 380px 0 0 30px;
    font-size: 35px;
    color: #653a00;
}

.trn-pt-missao {
    border-color: #fdb048;
}

.trn-pt-visao {
    border-color: #e88b00;
}

.trn-pt-valores {
    border-color: #653a00;
}

.conteudo-lista-valores,
.conteudo-lista-missão,
.conteudo-lista-visão {
    color: #653a00;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
}

.conteudo-lista-missão,
.conteudo-lista-visão {
    margin-top: 120px;
}

.conteudo-lista-valores {
    padding-top: 40px;
}

li {
    color: #653a00;
    margin-left: 50px;
    margin-right: 10px;
}

.tm-img {
    background-position: center;
    background-size: cover;
    height: 250px;
    border-radius: 50%;
    box-shadow: -10px -5px 5px #ff9300;
    width: 250px;
    padding: auto;
}

.pf-arthur {
    background-image: url(../img/arthur.png);
}

.pf-igor {
    background-image: url(../img/igor.png);
}

.pf-leo {
    background-image: url(../img/leo.png);
}

.pf-caio {
    background-image: url(../img/caio.png);
}

.bc-equipe {
    display: flex;
    flex-wrap: wrap;
    height: 490px;
    width: 100%;
}

.biografia {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 25%;
}

.biografia>figure {
    margin: 2rem 2.5rem;
}

figcaption p {
    font-size: 14px;
    font-weight: normal;
    padding: 1.2rem;
    text-align: center;
    text-indent: 0.6rem;
}

.cne-txt {
    font-size: 18px;
    font-weight: bolder;
    margin: 5px 0;
    text-align: center;
    color: #653a00;
}

.cne-p-sobre,
.cne-p {
    color: #653a00;
}

.cne-p-sobre {
    font-size: 18px;
}

#pt-central {
    color: #653a00;
    font-size: 35px;
}

@media (max-width: 668px) {
    #pt-baixo-terceira {
        display: flex;
        flex-direction: column;
        width: 90vw;
        align-items: center;
    }
    .img-topo {
        margin: 20px 20px;
        width: auto;
        padding: 0px;
    }
    .cne-p-sobre {
        text-align: justify;
        font-size: 18px;
        line-height: 20px;
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 20px;
        margin: 0;
    }
    .div-principal {
        margin: auto;
        width: 80%;
        height: 250px;
        padding: 0px;
    }
    #pt-baixo-terceira {
        width: 85vw;
    }
    .trn-bloco-conteudo {
        width: 100%;
        margin-right: -50px;
    }
    #pt-central-terceira {
        text-align: center;
    }
    .bc-equipe {
        display: grid;
        grid-template-columns: 80vw 45vw;
        grid-template-rows: 200px 200px;
        height: auto;
        margin: -5px;
    }
    .cne-p {
        display: none;
    }
    .cne-txt {
        font-size: 14px;
    }
    .biografia {
        width: 100%;
        height: 300px;
    }
    .biografia>figure {
        margin-left: 27%;
        width: 50%;
        height: 40%;
    }
    .rd-pt-cima {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .rd-segunda {
        font-size: 12px;
    }
    #pt-central h2,
    #pt-cima-setima p,
    #pt-cima-quinta p {
        text-align: center;
        font-size: 12px;
    }
    .conteudo-lista-valores,
    .conteudo-lista-missão,
    .conteudo-lista-visão {
        font-size: 18px;
    }
    .conteudo-lista-valores {
        margin-top: -6px;
    }
    .conteudo-lista-missão,
    .conteudo-lista-visão {
        margin-top: -10px;
    }
    .trn-bloco-conteudo p {
        color: white;
        font-size: 23px;
        left: 10%;
        position: absolute;
        top: -17%;
    }
    .rodape,
    .rd-pt-baixo {
        display: none;
    }
    .img-topo {
        background-position: right center;
    }
    #texto-sobre h2 {
        margin: 0;
        margin-top: 200px;
        font-size: 25px;
        color: #653a00;
    }
    #pt-baixo-setima {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        width: 100%;
        grid-gap: 20px 20px;
        padding: 20px;
    }
    #pt-central-setima h2 {
        font-size: 25px;
        text-align: center;
    }
    .stm-bloco-blog {
        font-size: 23px;
        width: 100%;
        height: 500px;
    }
    .stm-blog-img img {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .stm-blog-img {
        height: 100%;
        width: 100%;
    }
    .stm-blog-txt h4 {
        font-size: 23px;
        width: 100%;
    }
    .stm-blog-txt p {
        font-size: 18px;
        width: 100%;
        padding-right: 30px;
    }
    .qnt-pt-missao {
        border-color: #fdb048;
    }
    .qnt-pt-visao {
        border-color: #e88b00;
    }
    .qnt-pt-valores {
        border-color: #653a00;
    }
    .trn-pt-missao,
    .trn-pt-visao,
    .trn-pt-valores {
        font-size: 10px;
        width: 100%;
    }
}

@media (min-width: 668px) and (max-width: 1024px) {
    .trn-bloco-conteudo {
        width: 90vw;
        margin: 1.7rem 0;
    }
    .biografia>figure {
        width: 130px;
        height: 130px;
    }
    #pt-central h2 {
        font-size: 32px;
    }
    .cne-p-sobre {
        font-size: 20px;
        text-align: justify;
        line-height: 20px;
        width: 90%;
        padding: 10px;
    }
    .img-topo {
        margin: 100px 100px;
        width: auto;
        padding: 0px;
    }
    .div-principal {
        margin: 10px;
        width: 90%;
        align-items: center;
        height: 250px;
        padding: 0px;
    }
    #pt-baixo-terceira {
        display: flex;
        flex-direction: column;
        width: 90vw;
        align-items: center;
    }
    .conteudo-lista-valores,
    .conteudo-lista-missão,
    .conteudo-lista-visão {
        font-size: 32px;
    }
    .conteudo-lista-valores {
        margin-top: 10px;
    }
    .conteudo-lista-missão,
    .conteudo-lista-visão {
        margin-top: 25px;
    }
}