.div-principal {
    margin: 45px 0;
    width: 100%;
}

.div-cabecalho {
    display: grid;
    align-items: center;
}

.img-topo,
.text-titulo {
    background-position: 30% 49%;
    background-size: cover;
    border-radius: 35px;
    display: table;
    height: 440px;
    padding: auto;
}

.img-topo {
    background-image: url(../img/medico.png);
}

#texto-sobre {
    margin: 320px 0 0 30px;
    font-size: 50px;
    color: #653a00;
}

.conteudo {
    color: #653a00;
    line-height: 35px;
    padding: 30px;
    font-family: Quicksand;
    font-size: 25px;
    margin-top: 70px;
    text-align: center;
}

.conteudo-lista li {
    color: #653a00;
    font-family: Quicksand;
    font-size: 25px;
    margin-top: 3px;
}

.list-conteudo {
    padding-top: 10px;
}

li {
    margin-left: 65px;
}

.tm-img {
    background-position: center;
    background-size: cover;
    height: 250px;
    border-radius: 50%;
    box-shadow: -10px -5px 5px #ff9300;
    width: 250px;
    padding: auto;
}

.pf-arthur {
    background-image: url(../img/arthur.png);
}

.pf-igor {
    background-image: url(../img/igor.png);
}

.pf-leo {
    background-image: url(../img/leo.png);
}

.pf-caio {
    background-image: url(../img/caio.png);
}

.bc-equipe {
    display: flex;
    flex-wrap: wrap;
    height: 590px;
    margin: 1rem 0;
    width: 100%;
}

.biografia {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 24%;
}

.biografia figure {
    margin: 2rem 2.5rem;
}

figcaption p {
    font-size: 14px;
    font-weight: normal;
    padding: 1.2rem;
    text-align: center;
    text-indent: 0.6rem;
}

.cne-txt {
    font-size: 18px;
    font-weight: bolder;
    margin: 5px 0;
    text-align: center;
    color: #653a00;
}

.cne-p-sobre,
.cne-p {
    color: #653a00;
}

.cne-p-sobre {
    font-size: 18px;
}

#pt-central {
    color: #653a00;
    font-size: 35px;
}

@media (max-width: 668px) {
        
    main {
        margin: 0 auto;
    }
 

    #pt-baixo-terceira {
        display: flex;
        flex-direction: column;
        width: 90vw;
        align-items: center;
        
    }
    .img-topo {
        margin: 20px 20px;
        width: auto;
        padding: 0px;
    }
    .cne-p-sobre {
       
        text-align: justify;
        font-size: 18px;
        line-height: 20px;
        width: 310px;
        padding: 0px;
        margin: auto;
        margin-top: 40px;
    }
    .div-principal {
            margin: auto;
            width: 80%;
            height: 250px;
            padding: 0px;
    }
    #pt-baixo-terceira {
        width: 87vw;
    }
    .trn-bloco-conteudo {
        width: 100%;
        margin-right: -50px;
    }
    #pt-central-terceira {
        text-align: center;
    }
    .bc-equipe {
        display: grid;
        grid-template-columns: 45vw 45vw;
        grid-template-rows: 1fr 1fr;
        margin: -5px;
    }
    .cne-txt {
        font-size: 14px;
    }
    .biografia {
        width: 100%;
    }
    .biografia>figure {
        margin-left: 27%;
        width: 50%;
        height: 30%;
    }
    .cne-p {
        display: none;
    }

    .conteudo-lista{
        margin-top: 40px;
        font-size: 12px;
        color: #653a00;

    }

    .conteudo{
        margin-top: 50px;
    
    }  
   
   
    .rd-pt-cima {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .rd-segunda{
        font-size: 12px;
    }
    
    
    #pt-central h2{
        text-align: justify;      
        font-size: 25px;

        
    }
    .conteudo-lista{
        margin-top: 15px;
        font-size: 20px;
        color: #653a00;
    }
    .conteudo{
        font-size: 18px;
        margin-top: 5px;
    }
    .trn-bloco-conteudo p {
        color: white;
        font-size: 23px;
        left: 10%;
        position: absolute;
        top: -17%;
    }
    .trn-pt-paciente{
        font-size: 10px;
        width: 100%;
    }
    .rodape, .rodape-endereco{
        display: none;
    }
    
   
   
}

@media (min-width: 668px) and (max-width: 1024px) {
    main {
        margin: 5%;
    }
    
    .trn-bloco-conteudo {
        width: 90vw;
        margin: 1.7rem 0;
    }
    .biografia>figure {   
        
        width: 130px;
        height: 130px;
    }   

    #pt-central h2{            
        font-size: 32px;   
    }

    .cne-p-sobre {   
        font-size: 20px;    
        text-align: justify;        
        line-height: 20px;
        width: 90%;
        padding: 10px;
        
    }
    .img-topo {
        margin: 100px 100px;
        width: auto;
        padding: 0px;
        
    }
    .div-principal {
        
        margin: 10px;
        width: 90%;
        align-items: center;
        height: 250px;
        padding: 0px;
    }

    .conteudo-lista{
        margin-top: 40px;
        font-size: 30px;
        color: #653a00;
    }
    .conteudo{
        font-size: 30px;
        margin-top: 90px;
    }

    #pt-baixo-terceira {
        
        display: flex;
        flex-direction: column;
        width: 90vw;
        align-items: center;        
    }

  
    
    .rodape, .rodape-endereco{
        display: none;
    }
    

}